/* CSS by Nainoa Kaulukukui */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.sr-only:focus{
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
.menu-button{
  display: block;
  width: 100%;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.menu-button:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

.mobile-nav{
  position: relative;
}

.menu a{
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  border: 1px solid var(--blue-bulletin);
  visibility: visible;
  padding: 0.5rem;
  transition: var(--transition);
}

.menu a:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);}

.menu {
  display: none;
  position: absolute;
  background-color: var(--blue-bulletin);
  width:100%;
  top: 2.75rem;
}

/* ///ADD/// Global Layout Styles */

*{
  box-sizing: border-box;
}

body{
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  font-family: var(--font-body);
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1rem;
}

header{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 1rem;
}

main{
  padding: 1rem;
}

main > section{
  padding: 1rem 0;
}

#welcome > .tagline{
  text-align: center;
  padding-top: 1rem;
}

#breaking > section{
  display: block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#breaking > section:hover{
  transform: scale(1.08, 1.08);
}

#breaking-news h3{
  border-bottom: 1px solid var(--watchdog-white);
}

video{
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}

#featured > section{
  display: block;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--story-subtitle);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#featured section:hover{
  transform: scale(1.08, 1.08);
}

#featured-articles h3{
  border-bottom: 1px solid var(--story-subtitle);
}

form{
  display: block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
}

#alerts label{
  display: block;
  width: 100%;
}

#alerts input{
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

fieldset{
  border: 1px solid var(--blue-bulletin);
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

fieldset > legend{
  text-transform: uppercase;
  margin-left: 0.5rem;
}

#alerts input[type="checkbox"]{
  appearance: none;
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#alerts input[type="checkbox"] + label{
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1rem;
  margin: 0.5rem;
}

#alerts input[type="checkbox"] + label::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  outline: 1px solid var(--truth-text);
  background-color: var(--watchdog-white);
}

#alerts input[type="checkbox"]:checked + label::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  outline: 1px solid var(--blue-bulletin);
  background-color: var(--blue-bulletin);
}

#alerts input[type="checkbox"]:checked + label::after{
  content: url(images/check-mark-15.png);
  color: var(--watchdog-white);
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  outline: 1px solid var(--blue-bulletin);
  background-color: var(--blue-bulletin);
}

input[type="submit"]{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  font-weight: 500;
  text-transform: uppercase;
  border: 1px outset var(--truth-text);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}

input[type="submit"]:hover{
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}

footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 1rem;
}

footer ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin-bottom: 2rem;
}

footer li{
  margin-top: 1rem;
}

footer a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-weight: 500;
  padding: 0.5rem;
  transition: var(--transition);
  border: 1px solid var(--blue-bulletin);
}

footer a:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

footer p{
  text-align: center;
}
/* ///ADD/// Global Text Styles */
h1, h2, h3{
  font-family: var(--font-heading);
}

h1{
  font-size: 2.5rem;
  font-weight: 400;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.tagline{
  font-weight: bold;
  font-family: var(--font-heading);
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  .menu-button{
    visibility: hidden;
  }

  .menu{
    display: flex;
    gap: 1rem;
    visibility: visible;
    position: absolute;
    top: 0;
  }

  #breaking{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  #breaking > section{
    margin: 0;
  }

  #featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  #featured > section{
    margin: 0;
  }

  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  fieldset{
    grid-column: -1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
  }

  input[type="submit"]{
    grid-column: -1/1;
  }

} 
/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  #featured{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.25rem;
  }
  
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  header, main, footer{
    padding: 2rem 4rem;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark){
  body{
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}

@media (prefers-reduced-motion: reduce){
  #breaking > section:hover{
    transform: none;
  }
  #featured section:hover{
    transform: none;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  nav:has(#menu-toggle:checked) .menu{
    display: block;
  }
}